<head>
<h1>HELLO About </h1>
</head>
<body>
  <div>
    <p>picture</p>
    <p>Kirby</p>
  </div>
  <div>
    <p>picture</p>
    <p>Ness</p>
  </div>
  <div>
    <p>picture</p>
    <p>Bowser</p>
  </div>
</body>
